body {
    background: linear-gradient(to bottom, #ffe9cb, #666666);
    font-family: Arial, sans-serif;
}

header {
    background-color: #9a816195;
    color: rgb(255, 248, 241);
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.song-info {
    line-height: 1.5;
    display: center;
    font-size:15px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lyrics {
    color:#6c5537;
    font-size:14px;
    text-align: left;
    margin-left: 20px;
    line-height: 19px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}

#song-image {
    max-width: 300px;
    margin-bottom: 20px;
    align-items: end;
    margin-right: 20px;
}

audio {
    width: 100%;
    max-width: 300px;
}

.verse {
    color: rgb(167, 118, 65);
    margin-left: 60px;
    margin-bottom: -5px;
    margin-top: -5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
}