
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

figure {
    margin: 20px 0;
    text-align: center; 
}

img {
    max-width: 50%;  
    max-height: 40%;
    height: auto;  

}

figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}


figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
